<!-- <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-white">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
  </nav> -->
<div class="top-navigation">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">

        <div class="d-flex flex-row bd-highlight">
        <div class="common-button"><button class="btn p-2 bd-highlight"><fa-icon [icon]="faList" size="3x"></fa-icon></button></div>

            <div class="search mt-2 row">
              <label class="col-sm-1 col-form-label mt-1"><fa-icon [icon]="faSearch"></fa-icon></label>
              <div class="col-sm-11">
                <input class="form-control form-control-lg" type="search" placeholder="Search" aria-label="Search">
              </div>
            </div>
        </div>
        <div class="d-flex flex-row">
            <h6 class="mt-3">ENG</h6>
            <button class="btn mb-2">
              <fa-icon [icon]="faSortDown"></fa-icon>
            </button>
            <button class="btn">
              <fa-icon [icon]="faMessage" size="2x"></fa-icon>
            </button>
            <button class="btn">
              <fa-icon [icon]="faBell" size="2x"></fa-icon>
            </button>
            <button class="btn">
              <fa-icon [icon]="faFaceSmile" size="2x"></fa-icon>
            </button>
            <h6 class="mt-3">Camille Stevenson</h6>
            <button class="btn mb-2">
              <fa-icon [icon]="faSortDown"></fa-icon>
            </button>
        </div>
      
    </div>
  </nav>
</div>
