// IfElse colors theme

$ifelse-light-blue: rgb(232, 240, 248);
$ifelse-dark-blue: rgb(130, 130, 255);
$ifelse-red: rgb(255, 0, 0);
$ifelse-green: rgb(60, 179, 113);
$ifelse-yellow: rgb(255, 165, 0);
$ifelse-light-grey: rgb(192, 190, 190);
$ifelse-dark-grey: rgb(100, 100, 100);
$ifelse-white: rgb(255, 255, 255);