// IfElse colors theme

$ifelse-light-blue: rgb(229, 236, 255);
$ifelse-dark-blue: rgb(102, 102, 255);
$ifelse-red: rgb(255, 0, 0);
$ifelse-green: rgb(60, 179, 113);
$ifelse-yellow: rgb(255, 165, 0);
$ifelse-dark-grey: rgb(100, 100, 100);